

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Import fonts */
/* Your font imports here */

/* General styles */
/* General styles */
/* General styles */
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em; /* Increased default font size */
	background:linear-gradient(0deg, rgba(108,150,157,1) 0%, rgba(153,213,201,1) 100%);	height: 100%;
	color: #6C969D;
	overflow-x: hidden;
  }
  
  .spanRgb {
	font-family: "Press Start 2P";
	font-size: 1.2em; /* Increased font size for .spanRgb */
	animation: color-change 10s infinite;
  }
  
  .spanSkills {
	font-family: "Press Start 2P";
	font-size: 1em; /* Increased font size for .spanSkills */
  }
  
  @keyframes color-change {
	0% { color: green; }
	25% { color: blue; }
	50% { color: red; }
	75% { color: blue; }
	100% { color: green; }
  }
  
  @keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
  
  /* Navigation links */
  .navLinks {
	letter-spacing: 0.15em;
	padding: 20px 25px; /* Increased padding for better touch interaction */
	position: relative;
  }
  
  .navLinks:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #6C969D;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
  }
  
  .navLinks:hover:after {
	width: 100%;
	left: 0;
  }
  

/*mac style buttons*/
#yellow {
    background-color: #f0f000;
    border-radius: 100%;
    width: 15px;
    height: 15px;
	margin: 0.3vh;
}

#green {
    background-color: #1AAF5C;
    border-radius: 100%;
    width: 15px;
    height: 15px;
	margin: 0.3vh;
	
}

#red {
    background-color: #E94B35;
    border-radius: 100%;
    width: 15px;
    height: 15px;
	margin: 0.3vh;

}
#screen {
    background-color: #33485E;
    width: 750px;
    height: 450px;
    border-radius: 2%;
    margin: 0 auto;
    padding: 1px;
}






  /* Media Queries */
  /* Mobile-first approach */
  @media only screen and (max-width: 768px) {
	body {
	  font-size: 2vh; /* Adjusted font size for larger screens */
	}
  
	.spanRgb {
	  font-size: 2vh; /* Adjusted font size for larger screens */
	}
  
	.spanSkills {
	  font-size: 2vh; /* Adjusted font size for larger screens */
	}
  
	/* Adjust other elements for larger screens */
	.navLinks {
	  padding: 15px 20px; /* Adjusted padding for larger screens */
	}
  
	/* Add more specific styles for larger screens */
  }